/* Body classes */
body {
  height: 100%;
  background-color: rgba(0, 82, 245, 1);
}
.container {
  width: 71vw;
  margin: auto;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
}
.header {
  width: 70vw;
  text-align: center;
  margin: auto;
  color: black;
  text-shadow: 2px 2px lightgrey;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* Translation Element */
.display {
  width: 70vw;
  text-align: center;
  margin: auto;
  min-height: 300px;
  margin-top: 0px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 10px;
}
#translation {
  padding: 20px;
  border: 1px black solid;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(219, 255, 247, 1);
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.card {
  flex-direction: row;
  display: flex;
  height: 24px;
  justify-content: center;
}

.originalLetter {
  font-size: 24px;
  flex: 1;
  width: 40px;
}
.visLetter{
    background-color: rgba(0, 0, 0, 0.5);
}
span {
  font-size: 24px;
  width: 96px;
  flex: 1;
}
.input {
  padding: 10px;
  border: 1px solid black;
  width: 300px;
  margin: auto;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
